[submodule "rtl/cpu/arlet-6502"]
	path = rtl/cpu/arlet-6502
	url = https://github.com/Arlet/verilog-6502.git
[submodule "firmware/basic/msbasic"]
	url = https://github.com/benpayne/msbasic.git
	branch = retrocpu-support
